<!DOCTYPE html>
<html lang="mx" data-ng-app="votesApp">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>VOTO APP | {{title}}</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css">
<link href="css/main.css" rel="stylesheet" type="text/css">
<!-- Custom styles for this template -->
<link href="css/4-col-portfolio.css" rel="stylesheet" type="text/css">
<link href="css/custom/bootstrap4-switch.css" rel="stylesheet"
	type="text/css">
<link rel="stylesheet' href='css/plugins/loading-bar.min.css"
	type="text/css" media="all" />
</head>

<body data-ng-controller="mainCtrl as mCtrl" data-ng-class="bgClassBody">
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
		data-ng-hide="$state.includes('panel')">
		<div class="container" data-ng-controller="inicioCtrl">
			<a class="navbar-brand" href="#"> <img
				class="img-responsive rounded float-left"
				src="../img/LXII_Legislatura_del_Congreso_del_Estado_de_Guerrero.png"
				width="100" height="100" alt="">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand"> <span id="spnFecha" class="text-white">{{fecha}}</span></a>
			<div class="collapse navbar-collapse" id="navbarResponsive"
				data-ng-if="userSession.id != null">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<p class="text-right text-white">
							{{userSession.name}} {{userSession.apPaterno}}
							{{userSession.apMaterno}} <br>
							{{userSession.user.userRol.roleName}} | <a class="text-danger"
								href="#" onclick="javascript:window.location.reload();">
								SALIR </a>
							<!-- <br> <a class="text-white" href="#" onclick="javascript:window.location.reload();"> Salir </a>-->
						</p>
					</li>
					<li class="nav-item"><a class="navbar-brand" href="#"> </a></li>
					<li class="nav-item">
						<!-- <div>Icons made by <a href="https://www.flaticon.es/autores/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
						<a class="navbar-brand" href="#"> <img
							class="img-responsive  rounded float-left"
							data-ng-src="{{userSession.foto != null ? userSession.foto.filePath == null ? './img/user.png' : userSession.foto.filePath : ''}}"
							onerror="this.src='./img/user.png'">
					</a>
					</li>
					<li class="nav-item">
						<!-- <div>Icons made by <a href="https://www.flaticon.es/autores/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.es/"  title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
						<a class="navbar-brand" href="#"> <img
							class="img-responsive rounded float-right"
							data-ng-src="{{userSession.partido != null ? userSession.partido.logo == null ? './img/archivo-de-imagen.png' : userSession.partido.logo : ''}}"
							onerror="this.src='./img/archivo-de-imagen.png'" width="100"
							height="100">

					</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- Div Container -->
	</nav>

	<!-- Page Content -->
	<div
		data-ng-class="title === 'PANEL' ? 'container-fluid': 'container container-body'"
		style="margin-top: 6vh;">
		<div ui-view></div>

	</div>
	<!-- /.container -->
	<script type="text/ng-template" id="login.html">
      <div class="card-login card-container">
        <img id="profile-img" class="profile-img-card loginPicture" src="../img/user.png" />
        <p id="profile-name" class="profile-name-card"></p>
       
          <form class="form-signin" ng-submit="formSubmit()">
          <span id="reauth-email" class="reauth-email"></span>
          <input type="text" id="txtUserName" class="form-control" ng-model="username" placeholder="Nombre de Usuario" value="test" required ng-required="required" autofocus>
          <br/>
          <span id="reauth-email" class="reauth-email"></span>
          <input type="password" id="txtUserPassword" class="form-control" data-ng-model="password" placeholder="Contraseña" value="test" ng-required="required" >
        
          <p class="text-danger">{{error}}</p>
		  <br>
          <img id="imgCapture" class="finger-img-card-login " alt="Captura de Huella" ng-click="startEnrollValidator()" style="cursor: pointer;" src="img/tocar.png">
          
          <button ng-if="enterEnable == true" class="btn btn-lg btn-primary btn-block btn-signin" type="submit"> Login</button>
        </form><!-- /form -->
       
      </div><!-- /card-container -->
      <!-- Page Heading -->
		<div class="modal" tabindex="-1" role="dialog" id="modalHuella">
 			<div class="modal-dialog" role="document">
    			<div class="modal-content">
     		 		<div class="modal-header">
						<h5 class="modal-title"><i class="fas fa-fingerprint"></i> LOGIN CON HUELLA</h5>
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        		  			<span aria-hidden="true">&times;</span>
        				</button>
      					</div>
      					<div class="modal-body">
      		  				<p>ESPERANDO CAPTURA DE HUELLA.</p>
							<div id="imagediv"></div>
							<p class="text-danger">{{error}}</p>
      					</div>
      					<div class="modal-footer">      		  				
      		  				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      					</div>
    				</div>
  				</div>
			</div>
    	</div>
    </script>
	<!-- Page Heading -->

	<!-- Footer -->
	<footer id="footerMain" class="py-5 bg-dark footerAlwaysBottom"
		data-ng-hide="$state.includes('panel')"> </footer>

	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript"
		src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>

	<!-- BOOTSTRAP -->
	<script type="text/javascript"
		src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<!-- ANGULAR -->
	<script type="text/javascript"
		src="/webjars/angularjs/1.7.7/angular.min.js"></script>

	<script type="text/javascript"
		src="/webjars/angular-resource/1.7.7/angular-resource.min.js"></script>

	<script type="text/javascript"
		src="/webjars/angular-ui-router/1.0.20/angular-ui-router.min.js"></script>
	<script type="text/javascript"
		src="/webjars/angular-animate/1.7.7/angular-animate.min.js"></script>

	<script type="text/javascript" src="js/plugins/sockjs.min.js"></script>


	<script type="text/javascript"
		src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>

	<!-- Biometricos -->
	<script src="js/uareu/sdk/es6-shim.js" type="text/javascript"></script>

	<script src="js/uareu/sdk/websdk.client.bundle.min.js"
		type="text/javascript"></script>

	<script src="js/uareu/sdk/fingerprint.sdk.min.js"
		type="text/javascript"></script>

	<!-- Charts -->
	<script type="text/javascript"
		src="/webjars/chart.js/2.7.3/dist/Chart.min.js"></script>

	<script type="text/javascript"
		src="/webjars/angular-chart.js/1.1.1/dist/angular-chart.min.js"></script>

	<!-- Color JS -->
	<script type="text/javascript"
		src="/webjars/jscolor-picker/2.0.4/jscolor.min.js"></script>

	<script type="text/javascript" src="js/plugins/fontawesome/all.js"></script>

	<script src="/webjars/sweetalert/2.1.0/sweetalert.min.js"
		type="text/javascript"></script>

	<script type="text/javascript" src="js/vendor/js/html2canvas.js"></script>
	<script type="text/javascript" src="js/vendor/js/jspdf.debug.js"></script>
	<script type="text/javascript"
		src="js/vendor/js/jspdf.plugin.autotable.js"></script>
	<!-- <script type="text/javascript" src="js/vendor/js/from_html.js"></script> -->
	<!-- <script type="text/javascript" src="js/vendor/js/split_text_to_size.js"></script>-->
	<!-- <script type="text/javascript" src="js/vendor/js/standard_fonts_metrics.js"></script>-->

	<script type="text/javascript" src="js/plugins/loading-bar.min.js"></script>


	<!-- Modulos AngularJS -->
	<script type="text/javascript" src="js/modules/app.js"></script>
	<!-- Directivas AngularJS -->
	<script type="text/javascript" src="js/directives/fileUploadDirective.js"></script>

	<!-- Controllers AngularJS -->
	<script type="text/javascript" src="js/controllers/mainCtrl.js"></script>
	<script type="text/javascript" src="js/controllers/inicioCtrl.js"></script>
	<script type="text/javascript" src="js/controllers/homeCtrl.js"></script>
	<script type="text/javascript" src="js/controllers/panelCtrl.js"></script>
	<script type="text/javascript"
		src="js/controllers/iniciarVotacionesCtrl.js"></script>
	<script type="text/javascript" src="js/controllers/partnerCtrl.js"></script>
	<script type="text/javascript"
		src="js/controllers/votacionUsuarioCtrl.js"></script>
	<!-- <script type="text/javascript" src="js/controllers/voteCtrl.js"></script>-->
	<script type="text/javascript"
		src="js/controllers/politicalPartyCtrl.js"></script>
	<script type="text/javascript" src="js/controllers/voteSessionCtrl.js"></script>
	<script type="text/javascript" src="js/controllers/attendanceCtrl.js"></script>
	<script type="text/javascript" src="js/controllers/reportesCtrl.js"></script>
	<script type="text/javascript" src="js/controllers/misVotosCtrl.js"></script>
	<script type="text/javascript"
		src="js/controllers/fingerEnrollmentCtrl.js"></script>
	<script type="text/javascript" src="js/controllers/quorumCtrl.js"></script>
	<script type="text/javascript"
		src="js/controllers/reporteQuorumCtrl.js"></script>
	<script type="text/javascript"
		src="js/controllers/reportePresentesCtrl.js"></script>
	<script type="text/javascript"
		src="js/controllers/reporteAsistenciasSesionesCtrl.js"></script>
	<script type="text/javascript" src="js/controllers/gazetteCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/orderOfTheDayCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/moduloodCtrl.js"></script>
	<script type="text/javascript" src="js/controllers/orderDayCtrl.js"></script>
	<script type="text/javascript" src="js/controllers/archiveCtrl.js"></script>
	<!-- Services Angular -->
	<script type="text/javascript" src="js/services/LoginService.js"></script>
	<script type="text/javascript"
		src="js/services/MenuHasSubMenuService.js"></script>
	<script type="text/javascript"
		src="js/services/VoteSessionHasInitiativesService.js"></script>
	<script type="text/javascript"
		src="js/services/partnerHasFingerPrintService.js"></script>
	<script type="text/javascript" src="js/services/partnerService.js"></script>
	<script type="text/javascript"
		src="js/services/partnerHasVoteService.js"></script>
	<script type="text/javascript" src="js/services/initiativeService.js"></script>
	<script type="text/javascript" src="js/services/voteService.js"></script>
	<script type="text/javascript" src="js/services/voteSessionService.js"></script>
	<script type="text/javascript"
		src="js/services/voteSessionTypeService.js"></script>
	<script type="text/javascript" src="js/services/attendanceService.js"></script>
	<script type="text/javascript" src="js/services/configService.js"></script>
	<script type="text/javascript" src="js/services/userService.js"></script>
	<script type="text/javascript" src="js/services/storageService.js"></script>
	<script type="text/javascript"
		src="js/services/initiativeHasPartnerService.js"></script>
	<script type="text/javascript" src="js/services/utilsService.js"></script>
	<script type="text/javascript" src="js/services/voteOptionService.js"></script>
	<script type="text/javascript" src="js/services/notificationService.js"></script>
	<script type="text/javascript" src="js/services/QuorumService.js"></script>
    <script type="text/javascript" src="js/services/formulaService.js"></script>
    <script type="text/javascript" src="js/services/moduloodService.js"></script>
    <script type="text/javascript" src="js/services/orderdayService.js"></script>
    <script type="text/javascript" src="js/services/archiveService.js"></script>

	<!-- Factories AngularJS -->
	<script type="text/javascript" src="js/factories/factory.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#footerMain").load("./views/footer.html");
		});
	</script>
</body>

</html>