<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Page Heading -->
<style>
.li-style-none {
	list-style: none;
}

.margin-top {
	margin-top: 1em;
}

.marggin {
	margin-left: 1em;
	margin-top: 4em;
}

.new {
	margin-top: 2em;
}

#check {
	margin-left: 5em;
	margin-top: 3em;
}
</style>
<h1 class="my-4">
	{{titleTabView}} <small>{{titleSession}}</small>
</h1>
<!-- data-ng-show="voteSession !== null" -->
<section data-ng-show="orderday !== null">
	<div class="row">
		<div class="col-ld-12 col-md-12 col-sm-12">
			<form name="formOrderDay"
				data-ng-submit="submitForm(formOrderDay.$valid)" novalidate>
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">{{!orderday.id ? 'NUEVA ': 'ACTUALIZAR
							'}}</h5>

					</div>
					<div class="card-body">
						<div class="form-row">
							<div class="col-2 col-md-3">
								<label>Nuevo</label> <br>
								<button data-ng-click="addMudulesOd()" type="button"
									class="btn btn-info">Nuevo Elemento</button>
							</div>
							<div class="col-2 col-md-3">
								<label for="inputState">Seleccinar un elemento</label> <select
									data-ng-change="change()" data-ng-model="orderday.moduloOd"
									id="inputState" class="form-control">
									<option disabled value="">Seleccionar...</option>
									<option data-ng-repeat="modulo in modulosod"
										data-ng-value="modulo">{{modulo.nombre}}</option>
								</select>
							</div>
							<div class="col-2 col-md-8 margin-top">
								<label for="inputState">Nombre OD</label> <input type="text"
									class="form-control" placeholder="First name"
									data-ng-model="orderday.nombre">
							</div>
						</div>
						<br>
						<div class="wrapper">
							<div class="form-row margin-top"
								data-ng-repeat="p in orderday.paragraphs track by $index">

								<div class="col">
									<input class="form-check-input marggin"
										data-ng-model="orderday.paragraphs[$index].isIniciativa"
										type="checkbox" value="" id="defaultCheck1"> <label
										class="form-check-label" for="defaultCheck1"></label>

								</div>
								<div class="col-6 col-md-11">
									<label for="exampleFormControlTextarea{{$index}}">Elemento</label>
									<div class="input-group">
										<textarea class="form-control" rows="4" name="text"
											placeholder="Agregar parrafo ..."
											aria-label="Hi there, I would like to ..." required
											data-msg="Please enter a reason."
											data-ng-model="orderday.paragraphs[$index].contenidotxt"></textarea>

										<div class="col col-md-2">
											<button class="btn btn-primary btn-sm"
												data-ng-click="addParagraph(p.nivel)">
												<i class="fas fa-plus-square"></i>
											</button>

											<button type="button" class="btn btn-info btn-sm"
												data-ng-click="addSubParagraph(p)">
												<i class="fa fa-plus-square"></i>SUB
											</button>
										</div>

									</div>
								</div>


							</div>
							<div class="form-row margin-top" data-ng-if="">
								<div class="col-2">
									<input class="form-check-input" id="check" type="checkbox"
										value="" id="defaultCheck1"> <label
										class="form-check-label" for="defaultCheck1"></label>


								</div>
								<div class="col-4 col-md-8">
									<div class="input-group">
										<textarea class="form-control" rows="4" name="text"
											placeholder="Agregar parrafo ..."
											aria-label="Hi there, I would like to ..." required
											data-msg="Please enter a reason."></textarea>
									</div>
									<div class="col col-md-2">
										<button class="btn btn-primary btn-sm"
											data-ng-click="addSubParagraph(p)">
											<i class="fas fa-plus-square"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- CardBody -->
					<div class="card-footer">
						<button type="submit" class="btn btn-success">{{!orderday.id
							? 'Guardar': 'Actualizar'}}</button>
						<button type="button" class="btn btn-warning">Publicar</button>

						<button type="button" class="btn btn-danger"
							data-ng-click="cancelAddUpOrderday()">Cancelar</button>
					</div>
					<!-- CardFooter -->
				</div>
				<!-- Card -->
			</form>
		</div>
	</div>
</section>

<!-- data-ng-if="voteSession === null" -->
<section data-ng-if="orderday === null">
	<div class="card w-95">
		<div class="card-body">
			<form class="form-inline" name="formFiltros">
				<div class="form-group mx-sm-3 mb-2">
					<label for="txtFechaBusqueda" class="sr-only">Fecha de</label> <input
						type="date" class="form-control" id="txtFechaBusqueda"
						data-ng-max="voteSessionOn.fechaBusquedaFin" name="fechaInicio"
						data-ng-model="voteSessionOn.fechaBusqueda" required="required"
						data-ng-class="formFiltros.fechaInicio.$invalid ? 'is-invalid': ''">

				</div>
				<div class="form-group mx-sm-3 mb-2">
					<label for="txtFechaBusquedaFin" class="sr-only">Fecha al </label>
					<input type="date" class="form-control" id="txtFechaBusquedaFin"
						data-ng-min="voteSessionOn.fechaBusqueda" name="fechaFin"
						data-ng-class="formFiltros.fechaFin.$invalid ? 'is-invalid': ''"
						data-ng-model="voteSessionOn.fechaBusquedaFin" required="required">
				</div>
				<button type="button" class="btn btn-dark"
					data-ng-click="getVoteSessionsDateOnly(voteSessionOn.fechaBusqueda, voteSessionOn.fechaBusquedaFin)">
					Buscar</button>
				<span class="invalid-feedback d-block"
					data-ng-show="formFiltros.fechaInicio.$invalid || formFiltros.fechaFin.$invalid">Rango
					de fechas inválido!</span>

			</form>
		</div>
	</div>
	<div class="card w-95">
		<div class="card-header">
			<h5>Lista de Orden del Dia</h5>
		</div>
		<div class="card-body">
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="home" role="tabpanel"
					aria-labelledby="home-tab">
					<div class="btn-group">
						<button type="button" class="btn btn-success"
							data-ng-click="addOrderday()">
							<i class="fa fa-plus"></i> Nueva
						</button>
					</div>
					<br>
					<div class="table-responsive" data-ng-if="orderday.length == 0">
						<div class="alert alert-primary" role="alert"
							data-ng-if="!orderday.length">
							No se han encontrado ordenes del dia para el rango de fechas
							seleccionado <a data-ng-click="addOrderday()"
								style="cursor: pointer;" class="alert-link">Agregue una
								orden del dia para comenzar</a>. O seleccione otra rango de fechas
							para realizar la busqueda.
						</div>
					</div>
					<!-- data-ng-if="orderday.length > 0" -->
					<div class="table-responsive">
						<table class="table table-inversed table-hover table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Orden del día</th>
									<th>Ver</th>
									<th>Actualizar</th>
									<th>Eliminar</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="orderday in orderdays track by $index">
									<td scope="row">{{$index+1}}</td>
									<td>{{orderday.nombre}}</td>
									<td><button class="btn btn-primary btn-sm">
											<i class="fas fa-plus-square"></i>
										</button></td>
									<td><button type="button" class="btn btn-warning"
											data-ng-click="updateOrderday(orderday)">Actualizar</button>
									</td>
									<td><button type="button" class="btn btn-danger"
											data-ng-click="confirmDelete(orderday)">Eliminar</button></td>

								</tr>
							</tbody>
							<tfoot>
								<tr>
									<th colspan="9"></th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
		aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Ordenes del día para la sesión dummy</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Modal body text goes here.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">Save changes</button>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		//../img/LXII_Legislatura_del_Congreso_del_Estado_de_Guerrero.png

		//function printAsPDF(){
		//changetxts(1);
		/*
			    var pdf = new jsPDF('p', 'pt', 'letter');
			    // source can be HTML-formatted string, or a reference
			    // to an actual DOM element from which the text will be scraped.
			    source = $('#tableAsistencias')[0];

			    // we support special element handlers. Register them with jQuery-style 
			    // ID selector for either ID or node name. ("#iAmID", "div", "span" etc.)
			    // There is no support for any other type of selectors 
			    // (class, of compound) at this time.
			    specialElementHandlers = {
			        // element with id of "bypass" - jQuery style selector
			        '#bypassme': function (element, renderer) {
			            // true = "handled elsewhere, bypass text extraction"
			            return true
			        }
			    };
			    margins = {
			        top: 40,
			        bottom: 40,
			        left: 40,
			        width: 532
			    };
			    // all coords and widths are in jsPDF instance's declared units
			    // 'inches' in this case
			    pdf.fromHTML(
			    source, // HTML string or DOM elem ref.
			    margins.left, // x coord
			    margins.top, { // y coord
			        'width': margins.width, // max width of content on PDF
			        'elementHandlers': specialElementHandlers
			    },

			    function (dispose) {
			        // dispose: object with X, Y of the last line add to the PDF 
			        //          this allow the insertion of new lines after html
			        pdf.save('asistencia.pdf');
			    }, margins);
			    
		 */

		/*
		
		var doc = new jsPDF();
		doc.autoTable({
			html: '#attendanceTable', 
			startY: 20
			});
		doc.output("dataurlnewwindow");
		
		 */

		// changetxts(0);
		//}
		function update(shouldDownload) {
			var funcStr = window.location.hash.replace(/#/g, '') || 'basic';
			changetxts(1);
			var doc = printPdf();

			doc.setProperties({
				title : 'Example: ' + funcStr,
				subject : 'A jspdf-autotable example pdf (' + funcStr + ')'
			});

			if (shouldDownload) {
				doc.save('asistencias.pdf');
			} else {
				//document.getElementById("output").src = doc.output('datauristring');
				// document.getElementById("output").data = doc.output('datauristring');
				//doc.output("dataurlnewwindow");
				doc.save('asistencias.pdf');
			}
			changetxts(0);
		}

		var base64Img, coinBase64Img;
		imgToBase64(
				'../img/LXII_Legislatura_del_Congreso_del_Estado_de_Guerrero.png',
				function(base64) {
					base64Img = base64;
					/*imgToBase64('../img/LXII_Legislatura_del_Congreso_del_Estado_de_Guerrero.png', function(base64) {
					    coinBase64Img = base64;
					    update();
					});*/
				});

		function imgToBase64(src, callback) {
			var outputFormat = src.substr(-3) === 'png' ? 'image/png'
					: 'image/jpeg';
			var img = new Image();
			img.crossOrigin = 'Anonymous';
			img.onload = function() {
				var canvas = document.createElement('CANVAS');
				var ctx = canvas.getContext('2d');
				var dataURL;
				canvas.height = this.naturalHeight;
				canvas.width = this.naturalWidth;
				ctx.drawImage(this, 0, 0);
				dataURL = canvas.toDataURL(outputFormat);
				callback(dataURL);
			};
			img.src = src;
			if (img.complete || img.complete === undefined) {
				img.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==";
				img.src = src;
			}
		}

		function printPdf() {
			var doc = new jsPDF();
			var totalPagesExp = "{total_pages_count_string}";

			doc
					.autoTable({
						// head: headRows(), 
						//body: bodyRows(40),
						html : '#attendanceTable',
						didDrawPage : function(data) {
							// Header
							doc.setFontSize(20);
							doc.setTextColor(40);
							doc.setFontStyle('normal');
							if (base64Img) {
								doc.addImage(base64Img, 'JPEG',
										data.settings.margin.left, 15, 10, 10);
							}
							doc.text("ASISTENCIAS",
									data.settings.margin.left + 15, 22);

							// Footer
							var str = "Pag. " + doc.internal.getNumberOfPages()
							// Total page number plugin only available in jspdf v1.0+
							if (typeof doc.putTotalPages === 'function') {
								str = str + " de " + totalPagesExp;
							}
							doc.setFontSize(10);

							// jsPDF 1.4+ uses getWidth, <1.4 uses .width
							var pageSize = doc.internal.pageSize;
							var pageHeight = pageSize.height ? pageSize.height
									: pageSize.getHeight();
							doc.text(str, data.settings.margin.left,
									pageHeight - 10);
						},
						margin : {
							top : 30
						}
					});

			// Total page number plugin only available in jspdf v1.0+
			if (typeof doc.putTotalPages === 'function') {
				doc.putTotalPages(totalPagesExp);
			}

			return doc;
		}

		/* var elementHandler = {
		   '#ignoreElement': function (element, renderer) {
		     return true;
		   },
		   '#anotherIdToBeIgnored': function (element, renderer) {
		     return true;
		   }
		 };
		 */

		function changetxts(_tipo) {
			if (_tipo == 1) {
				document.getElementById('spnDates').innerHTML = 'del dia '
						+ document.getElementById('txtFechaBusqueda').value
						+ ' al '
						+ document.getElementById('txtFechaBusquedaFin').value;
			} else {
				document.getElementById('spnDates').innerHTML = '';
			}

		}
	</script>
</section>