

.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

.panel-totales {
	font-size: 1.25rem;
}

.badge-presente {
	color: #c4dcf3 !important;
	background-color: #c4dcf3 !important;
	border-radius: 1rem !important;
	display:block !important;
}

